@font-face {
    font-family: "Helvetica Bold";
    src: url(../Fonts/Helvetica-Font/Helvetica-Bold.ttf);
}

*{
    border: none;
    margin: 0;
    padding: 0;
    font-family:'Helvetica Bold';

}
:root{
    --text-color:white;
    --secondary-color:#50a4af;
    --background-image-url:url(../Imgs/1.png);
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body{
    background-image:var(--background-image-url);
    background-size: cover;
}