:root{
    --main-dark-color:rgb(14, 14, 14);
    --text-color:white;
    --main-light-color:rgba(255, 255, 255, 0.726);
}

body{
    width: 100vw;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    gap: calc((10vw - 60px) / 2);
}

nav{
    justify-self: flex-start;
    width: 60px;
    height: 100vh;
    background-color: var(--main-dark-color);
}

main{
    width: 90vw;
    height: calc(96vh - 60px);
    background: rgba(0, 0, 0, 0.46);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(9.5px);
    
    gap:calc(20% / 3);
}

.section-to-do-card{
    width: 30%;
    height: 80%;
    gap: 20px;
}

.section-to-do-card header{
    width: 100%;
    min-height: 10%;
    background-color: var(--main-dark-color);
    color: var(--text-color);
}

.to-do-card{
    position: relative;
    width: 100%;
    max-height: 90%;
    background-color: var(--main-light-color);
}

.tasks{
    margin: 20px;
    margin-bottom: 35px;
    width: 100%;
    max-height: 90%;
    align-self: flex-start;
    justify-content: flex-start;
    flex-direction: column-reverse;
    box-sizing: content-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.new-task{
    gap: 10px;
    width: 100%;
    min-height: 50px;
}

.checker{
    position: relative;
}

.checker input,.checker span,.checker{
    width: 25px;
    height: 25px;
}

.checker input{
    position: absolute;
    opacity: 0;
}

.checker span{
    position: absolute;
    border: 2px solid var(--main-dark-color);
    box-sizing: border-box;
}

.checker:hover{
    background-color: rgb(255, 0, 0);
}

.new-task input{
    width: 80%;
    height: 40px;
    background-color: transparent;
    border-bottom:2px solid var(--main-dark-color);
}

.new-task button{
    width: 20px;
    background-color: transparent;
    color: var(--main-dark-color);
}

.new-task button:hover{
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.1);
}

.btn-new-task{
    height: 60px;
    position:absolute;
    background-color: var(--main-dark-color);
    color: var(--text-color);
    padding: 1em 2em;
    border-radius: 25px;
    font-size: 1em;
    bottom: -30px;
    justify-self: flex-end;
    box-shadow: 6px 6px 8px 1px rgba(0, 0, 0, 0.507);
}

.tracking-card{
    width: 50%;
    height: 60%;
    background-color: var(--main-dark-color);
}