:root{
    --main-dark-color:rgb(14, 14, 14);
    --main-light-color:rgba(255, 255, 255, 0.726);
    --text-color:white;
    --task-elements-color:rgba(255, 255, 255, 0.884);
    --task-elements-hover:rgba(228, 228, 228, 0.281);
    --task-trash-hover:rgba(228, 228, 228, 0.781);

}

body{
    width: 100vw;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

nav{
    justify-self: flex-start;
    width: 60px;
    height: 100vh;
    background-color: var(--main-dark-color);
    box-shadow: 6px 6px 8px 1px rgba(0, 0, 0, 0.507);
}

main{
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.205);
    
    gap:calc(20% / 3);
}

.section-to-do-card{
    width: 30%;
    height: 80%;
    gap: 20px;
}

.section-to-do-card header{
    width: 100%;
    min-height: 10%;
    border-radius: 20px;
    background-color: var(--main-dark-color);
    color: var(--text-color);
    box-shadow: 6px 6px 8px 1px rgba(0, 0, 0, 0.507);
    user-select: none;
}

.to-do-card{
    position: relative;
    width: 100%;
    min-height: 90%;

    /*Efeito Glass*/
    background: rgba(0, 0, 0, 0.082);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(19.5px);
    -webkit-backdrop-filter: blur(19.5px);
}

.tasks{
    margin: 20px;
    margin-bottom: 35px;
    width: 100%;
    max-height: 90%;
    align-self: flex-start;
    justify-content: flex-start;
    flex-direction: column-reverse;
    box-sizing: content-box;
    overflow-y: auto;
    overflow-x: hidden;
}

/* width */
.tasks::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.tasks::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
/* Handle */
.tasks::-webkit-scrollbar-thumb {
    background: var(--main-dark-color); 
    border-radius: 10px;
}
  
/* Handle on hover */
.tasks::-webkit-scrollbar-thumb:hover {
    background: rgb(221, 221, 221);
}

.new-task{
    gap: 10px;
    width: 100%;
    min-height: 50px;
}

.checker{
    position: relative;
    width: 25px;
    height: 25px;
    border: 2px solid var(--task-elements-color);
    box-sizing: border-box;
    transition: background-color .2s ease-in-out;
}

.checker svg{
    width: 100%;
    height: 100%;
    color: var(--task-elements-color);
}

.check-animation{
    animation: checkAnimation .4s ease-in-out forwards;
}

@keyframes checkAnimation {
    0%{
        transform: scale(0.5);
    }70%{
        transform: scale(1.3);
    }100%{
        transform: scale(1);
    }
}

.checker:hover{
    background-color: var(--task-elements-hover);
    transform: scale(1.05);
}

.new-task{
    border-radius: 10px;
}

.new-task input{
    width: 80%;
    height: 40px;
    background-color: transparent;
    border-bottom:2px solid var(--task-elements-color);
    color: var(--task-elements-color);
}

.new-task input:focus{
    outline: none;
}

.new-task input::selection{
    background-color: var(--main-dark-color);
}

.new-task button{
    width: 20px;
    background-color: transparent;
    color: var(--task-elements-color);
}

.new-task button:hover{
    cursor: pointer;
    color: var(--task-trash-hover);
    transform: scale(1.1);
}

.btn-new-task{
    height: 60px;
    position:absolute;
    background-color: var(--main-dark-color);
    color: var(--text-color);
    padding: 1em 2em;
    border-radius: 25px;
    font-size: 1em;
    bottom: -30px;
    justify-self: flex-end;
    box-shadow: 6px 6px 8px 1px rgba(0, 0, 0, 0.507);
    transition: transform .1s linear;
    user-select: none;
}

.btn-new-task:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.btn-new-task:active{
    transform: scale(0.9);
}

.new-task-animation{
    animation: addNewTaskSlide .8s ease-in-out forwards, addNewTaskColor 1s ease-in-out forwards;
}

.delete-animation{
    animation: deleteTask .6s ease-in-out forwards;
}

@keyframes deleteTask {
    0%{
        transform:translateX(0);
    }
    100%{
        transform:translateX(100%);
    }
}

@keyframes addNewTaskSlide {
    0%{
        transform:translateX(100%);
    }
    100%{
        transform:translateX(0);
    }
}

@keyframes addNewTaskColor {
    0%{
        background-color: rgba(172, 172, 172, 0.623);
    }
    50%{
        background-color: rgba(172, 172, 172, 0.623);
    }
    100%{
        background-color: transparent;
    }
}

.tracking-card{
    width: 50%;
    height: 60%;
    background-color: var(--main-dark-color);
}

.hide{
    display: none;
}